* {
  /* font-family: 'Anton', sans-serif; */
  font-weight: bold;
}
/* Reset default margin and padding */
body, h1, p, button {
  margin: 0;
  padding: 0;
}

/* Set a background color and center content */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60%;
  background-color: #f2f2f2;
  /* Add box-shadow property */
  box-shadow: -30px 20px 100px 10px rgba(244, 40, 88, 0.47), 30px -20px 100px -5px #6479ff;
  /* Center the box on the screen */
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 6%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid black;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

button {
  padding: 0.6rem 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bolder;
}

.multi {
  padding: 0.9rem 1rem 0.4rem 1rem;
}

button:hover {
  background-color: #3d3d3d;
}

/* Style messages */
.error {
  color: red;
  margin-top: 1rem;
  font-weight: 600;
}

.secondError {
  color: black;
  margin-top: 0.5rem;
  font-size: large;
}

.success {
  color: blue;
  margin-top: 1rem;
  font-weight: 600;
}

.result {
  color: black;
  margin-top: 0.5rem;
  font-size: large;
}
